body {
    background-color: black;
    padding: 50px;
}

.primary {
    background-color: #fcc51e font-size: 14px;
    display: inline-block;
    padding: 8px 15px 6px;
    background-color: #f7c22a;
    color: #403516;
    font-weight: 100;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 4px;
    position: relative;
}

.guest-info {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 3px;
    margin-top: 5px;
    padding: 10px;
}

.guest-information-title {
    color: #0079b9 !important;
    margin: 0 0 10px;
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 0 solid #eee;
    position: relative;
    color: #5C1111;
    display: inline-block;
    width: 100%;
}

.summary {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 3px;
    margin-top: 5px;
    padding: 10px;
}

.not-ready {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.guest {
    padding: 0px;
    margin: 0px;
}

.guest {
    font-style: bold;
}