/*------------------------------------------------------------------
    File Name: responsive.css
-------------------------------------------------------------------*/


/**-- large screen --**/

@media (min-width: 1601px) and (max-width: 1850px) {
    .full.banner_cont {
        padding: 0 150px;
    }
    .home_2 .sidebar_icons ul.social_icon {
        top: -270px;
    }
}

@media (min-width: 1461px) and (max-width: 1600px) {
    .full.banner_cont {
        padding: 0 200px;
    }
    .home_2 .sidebar_icons ul.social_icon {
        top: -270px;
    }
}

@media (min-width: 1281px) and (max-width: 1460px) {
    header {
        padding: 32px 0 0;
    }
    .container-fluid,
    .container {
        max-width: 1200px;
    }
    ul.navbar-nav li.nav-item {
        float: left;
        margin: 0 8px;
    }
    ul.navbar-nav li.nav-item a.nav-link {
        padding: 14px 15px;
    }
    .sidebar_icons,
    #banner::before {
        width: 185px;
    }
    .full.banner_cont {
        padding-left: 255px;
    }
    #banner {
        min-height: 780px;
    }
    .login_section li a {
        padding: 9px 8px;
    }
    .login_section li img {
        position: relative;
        top: -1px;
    }
    .sidebar_icons {
        padding-top: 220px;
    }
    .login_section li {
        font-size: 15px;
    }
    .home_2 #banner {
        min-height: 100vh;
        margin-bottom: -50px;
    }
    .home_2 .full.banner_cont h3 {
        padding-top: 120px;
    }
    .home_2 .full.banner_cont {
        padding-left: 70px;
    }
}


/**-- normal screen --**/

@media (min-width: 1200px) and (max-width: 1280px) {
    header {
        padding: 32px 0 0;
    }
    .container-fluid,
    .container {
        max-width: 1170px;
    }
    ul.navbar-nav li.nav-item {
        float: left;
        margin: 0 5px;
    }
    ul.navbar-nav li.nav-item a.nav-link {
        padding: 14px 15px;
    }
    .login_section li {
        font-size: 15px;
        margin-top: 5px;
    }
    .login_section li a {
        margin: 0 5px;
    }
    .login_section {
        right: 80px;
    }
    .sidebar_icons,
    #banner::before {
        width: 185px;
    }
    .search_btn {
        height: 48px;
        line-height: 48px;
    }
    .search {
        height: 48px;
    }
    .full.banner_cont {
        padding-left: 255px;
    }
    #banner {
        min-height: 780px;
    }
    .sidebar_icons {
        padding-top: 240px;
    }
    .heading_blog h4 {
        font-size: 16px;
    }
    .cont_blog {
        padding: 0;
    }
    .cont_blog p {
        font-size: 16px;
        line-height: 25px;
    }
    #rooms_section .margin-top_5 {
        margin-top: 40px !important;
    }
    .login_section li img {
        position: relative;
        top: -1px;
    }
    .home_3 .header_info ul li {
        margin: 0 30px;
    }
    .home_2 #banner {
        min-height: 100vh;
        margin-bottom: -50px;
    }
    .home_2 .full.banner_cont h3 {
        padding-top: 120px;
    }
    .home_2 .full.banner_cont {
        padding-left: 60px;
    }
}


/**-- big tablet screen --**/

@media (min-width: 992px) and (max-width: 1199px) {
    h2 {
        font-size: 35px;
        line-height: 35px;
    }
    header {
        padding: 32px 0 0;
    }
    a.logo_main img {
        width: 100%;
    }
    .login_section {
        right: 60px;
    }
    .search_btn {
        height: 42px;
        width: 42px;
        line-height: 42px;
    }
    .search_open::after {
        font-size: 17px;
    }
    .search {
        height: 42px;
    }
    .search_active {
        width: 320px;
        padding-right: 60px;
    }
    .container-fluid,
    .container {
        max-width: 980px;
    }
    ul.navbar-nav li.nav-item {
        float: left;
        margin: 0 2px;
    }
    ul.navbar-nav li.nav-item a.nav-link {
        font-size: 14px;
        letter-spacing: 0;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        padding: 12px 14px;
    }
    .menu_section {
        margin: 0;
    }
    ul.navbar-nav li.nav-item.active {
        margin: 0 2px;
    }
    .login_section li {
        font-size: 14px;
        margin-top: 3px;
    }
    .login_section li img {
        width: 16px;
    }
    .login_section li a {
        padding: 9px 5px;
        margin: 0 5px;
    }
    .login_section li a img {
        width: 16px;
    }
    .sidebar_icons,
    #banner::before {
        width: 185px;
    }
    .full.banner_cont {
        padding-left: 255px;
    }
    #banner {
        min-height: 780px;
    }
    .sidebar_icons {
        padding-top: 240px;
    }
    .heading_blog h4 {
        font-size: 16px;
    }
    .cont_blog {
        padding: 0;
    }
    .cont_blog p {
        font-size: 16px;
        line-height: 25px;
    }
    #rooms_section .margin-top_5 {
        margin-top: 20px !important;
    }
    .home_2 #banner {
        min-height: 100vh;
        margin-bottom: -50px;
    }
    .home_2 .full.banner_cont h3 {
        padding-top: 120px;
    }
    .home_2 .full.banner_cont {
        padding-left: 140px;
    }
    a.logo_main img {
        width: 135px;
    }
    .home_3 .header_info ul li {
        display: flex;
        margin: 0 0;
        float: left;
    }
    .home_3 .header_info ul li:nth-child(1) {
        margin-right: 40px;
    }
}


/**-- normal tablet screen --**/

@media (min-width: 768px) and (max-width: 991px) {}


/**-- mobile verison --**/

@media (max-width: 991px) {
    /** basic **/
    p {
        font-size: 16px;
    }
    h2 {
        font-size: 32px;
    }
    h2.reveal {
        line-height: 32px;
    }
    .r-img {
        max-width: 100% !important;
    }
    .container {
        padding: 0 20px;
    }
    .large_container {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
    }
    .container-fluid {
        max-width: 680px;
    }
    .container {
        padding: 0 20px;
        max-width: 690px;
    }
    .main_btn,
    .btn-submit {
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }
    /** header **/
    header {
        padding: 25px 5px 0;
        min-height: auto;
    }
    .logo_main img {
        width: 110px;
    }
    .logo_section {
        text-align: center;
    }
    .logo_section .logo_main {
        float: left;
    }
    .login_section li {
        font-size: 13px;
        margin-top: 0;
    }
    .login_section li a {
        padding: 9px 7px;
        margin: 0;
    }
    .login_section li img {
        width: 15px;
        position: relative;
        top: -1px;
    }
    .login_section {
        right: 35px;
    }
    /** menu **/
    .menu_section {
        margin: 15px 0 10px;
    }
    #navbarSupportedContent .navbar-nav {
        max-height: calc(100vh + -125px);
        overflow: auto;
    }
    ul.navbar-nav li.nav-item .dropdown-menu::after {
        display: none;
    }
    .button_menu_section {
        width: 100%;
        height: auto;
        position: relative;
        right: 0;
        cursor: pointer;
        z-index: 9;
        background: #333;
        padding: 0 15px;
        line-height: 38px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
    }
    .button_menu_section .navbar-brand {
        padding: 0;
        line-height: 38px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        margin: 0;
    }
    .menu_section .navbar {
        padding: 0;
    }
    ul.navbar-nav li.nav-item.active {
        margin: 0;
    }
    ul.navbar-nav li.nav-item {
        float: left;
        margin: 0px;
    }
    ul.navbar-nav li.nav-item a.nav-link {
        padding: 10px 15px;
    }
    ul.navbar-nav li.nav-item .dropdown-menu {
        margin: 0;
    }
    .search_container {
        margin: 3px 0;
    }
    .search_btn {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
    .search_open::after {
        font-size: 14px;
    }
    .search_close::after {
        font-size: 14px;
    }
    .search {
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .search_active {
        width: 280px;
        padding-right: 50px;
    }
    /** banner **/
    #banner::before,
    .sidebar_icons {
        display: none;
    }
    #banner {
        min-height: 100vh;
        padding: 250px 0 0;
        position: relative;
        background-size: cover;
        background-position: center bottom;
    }
    .banner_cont h3 {
        font-size: 38px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 38px;
        margin-top: 25px;
        text-indent: 0;
        position: relative;
        left: 0;
    }
    .banner_cont h4 {
        margin-top: 0;
    }
    #book_room_section {
        padding: 0;
    }
    .arrow_icon a.carousel-control-prev,
    .arrow_icon a.carousel-control-next {
        box-shadow: none;
    }
    /** about section **/
    #about_section img {
        max-width: 100%;
        margin-top: 50px;
    }
    /** testimonial **/
    .testimonial_blog_bottom {
        padding: 0;
    }
    .profile_testimonial img {
        width: 200px;
        margin-top: -120px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        float: none;
        position: relative;
        left: 0;
    }
    .arrow_icon {
        position: absolute;
        right: 0;
        z-index: 99;
        top: -25px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .name_info {
        float: left;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .text_testimonial p {
        text-align: center;
    }
    /** subcribe form **/
    .newsletter_form fieldset {
        display: block;
    }
    .newsletter_form input {
        width: 100%;
        height: 60px;
        padding: 0 20px;
        color: #111;
        margin-right: 0;
        font-size: 15px;
    }
    .newsletter_form button {
        width: 100%;
        padding: 16px 0;
        font-size: 14px;
        margin-top: 20px;
        line-height: normal;
        cursor: pointer;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        position: relative;
        height: auto;
        float: none;
    }
    /** footer **/
    .main_footer {
        padding: 40px 5px 90px;
    }
    .social_icon_footer ul.social_icon li a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
    }
    .footer_widget li {
        font-size: 16px;
    }
    .cpy p {
        color: #fff;
        line-height: normal;
        font-weight: 400;
        padding: 18px 20px;
        font-size: 16px;
    }
    /** date picker **/
    .daterangepicker td {
        height: 26px;
        width: 26px
    }
    .daterangepicker .calendar {
        width: 100%;
        max-width: 100%;
        padding: 20px 10px;
    }
    .daterangepicker .calendar.right,
    .daterangepicker .calendar.left {
        border: none;
        float: none!important;
        clear: none!important;
        margin: 0 auto!important
    }
    .daterangepicker {
        max-width: 275px !important;
        width: 100%;
        padding: 0;
    }
    /** inner pages **/
    #inner_banner h2 {
        font-size: 30px;
        margin-top: 75px;
    }
    .breadcrumb ul li {
        font-size: 14px;
        margin: 0 5px;
    }
    /** home page 2 **/
    .home_2 #banner {
        min-height: 100vh;
        margin-bottom: 0;
    }
    #banner {
        padding: 180px 0 0;
    }
    .mega_menu {
        padding: 0 0 !important;
        min-width: 100% !important;
        float: left !important;
    }
    .mega_menu ul {
        width: 100%;
        margin: 0;
    }
    /** home page 3 **/
    .home_3 .header_bottom .menu_section .navbar {
        padding: 0;
        float: left;
        width: 100%;
        min-height: auto;
    }
    .home_3 .header_bottom .menu_section {
        background: #fcc626;
        min-height: auto;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .home_3 .header_info {
        display: none;
    }
    .login_section {
        display: none;
    }
    .home_3 .header_bottom .menu_section #navbarSupportedContent {
        position: relative;
        left: 0;
    }
    .home_3 .header_bottom ul.navbar-nav li.nav-item a.nav-link {
        font-size: 15px;
        padding: 12px 15px;
    }
    .home_3 .header_bottom .menu_section .search_container {
        display: none;
    }
    .home_3 #banner {
        min-height: 100vh;
    }
    .home_3 .full.banner_cont h4 {
        margin-top: -150px;
    }
    .home_3 #banner {
        margin-bottom: 0;
    }
    .home_3 .button_menu_section {
        background: #fcc626;
    }
    .version_5 header {
        position: fixed;
        width: 100%;
        background: rgba(255, 255, 255, .8);
        min-height: auto;
        padding: 25px 0 15px;
    }
    .home_3 .button_menu_section {
        width: 100%;
    }
    .home_3 .menu_section .navbar {
        padding: 0;
        width: 100%;
    }
    .room_info .row {
        display: flex;
        flex-wrap: inherit;
    }
    .room_info p {
        font-weight: 500;
        line-height: normal;
    }
    /** inner page css **/
    .label_hn {
        left: 0;
        top: 0;
        width: 40px;
        height: 140px;
        font-size: 16px;
        line-height: 40px;
    }
    h4.reveal {
        margin-top: 30px;
        font-size: 25px;
        line-height: 25px;
    }
    .package_service_info li.price_tag {
        width: 100%;
    }
    .package_service_info li {
        width: 50%;
        margin-top: 10px;
    }
    .full_detail {
        background: #fff;
        padding: 0 15px 30px;
        position: relative;
        margin-top: 0;
        border: solid #4e96b9 5px;
    }
    h4.reveal {
        margin-top: 15px;
        font-size: 25px;
        line-height: 25px;
    }
    .full_detail .package_service_info li.price_tag {
        font-size: 25px;
    }
    .full_detail .package_service_info li {
        width: 100%;
    }
    .white_bg_s {
        padding: 15px 30px 50px;
    }
    .checkbox_list ul li {
        float: left;
        width: 100%;
        display: block;
    }
    .chiller_cb {
        padding-right: 0;
    }
    .price_tag p>span:nth-child(2) {
        float: right;
        text-align: right;
    }
    .price_tag p>span:nth-child(2) strong {
        text-align: right;
    }
    .checkbox_list ul li span.price_tag {
        margin-top: 10px;
    }
    .s-icon {
        margin-top: 10px;
    }
    .label_blog_date {
        width: 70px;
        height: 60px;
        left: calc(50% - 35px);
        font-size: 17px;
    }
    .blog_social {
        display: flex;
        margin-top: -50px;
    }
    .blog_social li a {
        background: #00BFFF;
        color: #fff;
        width: 60px;
        height: 60px;
        float: left;
        line-height: 56px;
        text-align: center;
        border-radius: 100%;
        border: solid #fff 2px;
        font-size: 21px;
    }
    .blog_cont {
        padding: 20px 30px 70px 30px;
    }
    .blog_cont h3 {
        font-size: 28px;
    }
    .blog_detail_page .blog_cont {
        padding: 20px 30px 70px 30px;
    }
    .portfolio-menu ul li {
        padding: 10px 9px;
        font-size: 13px;
    }
    .price_blog {
        display: block;
    }
    .price_blog p {
        margin-top: 10px;
    }
    .full.price_blog h3.heading {
        margin-top: 20px;
    }
    .full.price_blog h3.heading+a {
        margin-top: 20px;
    }
    .price_blog h4 {
        width: 100%;
    }
    .error_blog img {
        width: 100%;
    }
    h2 {
        font-size: 25px;
    }
    .room_info {
        padding: 10px 10px;
    }
    .login_signup input {
        width: 100%;
    }
    .bg_login_signup {
        background-image: url(../images/login.png);
        height: 100vh;
        background-size: cover;
        background-color: rgba(255, 255, 225, .9);
        background-blend-mode: color-dodge;
    }
    .login_page .cpy {
        position: relative;
        width: 100%;
        float: right;
    }
}