/*------------------------------------------------------------------
File Name: style.css
Template Name: Pride_door - Responsive HTML5 Theme 
Created By: htmldotdesign
Envato Profile: https://themeforest.net/user/htmldotdesign
Website: https://html.design
Version: 1.0
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]
1.  IMPORT FONTS
2.  IMPORT FILES
3.  BASIC
4.  LOADER
5.  HEADER
       - sub menu
       - search bar
       - mega menu
6.  BANNER
7.  BOOKING HOMEPAGE SECTION 
       - date picker
       - side social icon   
       - heading text animation
8.  NEWSLETTER SECTION  
9.  TESTIMINIAL SECTION 
10. FOOTER
11. COPYRIGHT SECTION
12. INNER PAGE
    - inner page banner
    - breadcrumb
    - rating star
13. ROOM PAGE
    - room page slider  
14. ROOM DETAIL PAGE 
    - checkbox    
15. BOOKING PAGE
    - booking form 
16. CONFIRM PAGE
17. LOGIN AND SIGNUP PAGE
18. MAP    
19. HOME PAGE 2
20. HOME PAGE 3
21. ACCRODIAN
22. PACKAGE
23. TEAM PAGE
24. BLOG
25. PAGINATION
26. SIDEBAR
27. GALLARY
28. PRICE PAGE
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
1. IMPORT FONTS
-------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900);
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

/*------------------------------------------------------------------
2. IMPORT FILES
-------------------------------------------------------------------*/

@import url(animate.css);
@import url(font-awesome.min.css);

/*------------------------------------------------------------------
3. BASIC
-------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    color: #898989;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    font-weight: 400;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: #faf8f9;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #1f1f1f;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.fw_100 {
    font-weight: 100 !important;
}

.fw_200 {
    font-weight: 200 !important;
}

.fw_300 {
    font-weight: 300 !important;
}

.fw_400 {
    font-weight: 400 !important;
}

.fw_500 {
    font-weight: 500 !important;
}

.fw_600 {
    font-weight: 600 !important;
}

.fw_700 {
    font-weight: 700 !important;
}

.fw_800 {
    font-weight: 800 !important;
}

.fw_900 {
    font-weight: 900 !important;
}

h2 {
    font-size: 45px
}

h2 {
    text-transform: uppercase;
    line-height: normal;
}

h3 {
    font-size: 35px
}

h4 {
    font-size: 30px
}

h4 {
    text-transform: uppercase;
    line-height: normal;
}

h5 {
    font-size: 25px
}

h6 {
    font-size: 20px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none;
    opacity: 1;
}

ol,
ul {
    list-style: none;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.img-resposive {
    max-width: 100%;
}

.padding-bottom_0 {
    padding-bottom: 0 !important;
}

.padding-bottom_1 {
    padding-bottom: 10px !important;
}

.padding-bottom_2 {
    padding-bottom: 20px !important;
}

.padding-bottom_3 {
    padding-bottom: 30px !important;
}

.padding-bottom_4 {
    padding-bottom: 40px !important;
}

.padding-bottom_5 {
    padding-bottom: 50px !important;
}

.padding-bottom_6 {
    padding-bottom: 60px !important;
}

.padding-bottom_7 {
    padding-bottom: 70px !important;
}

.padding-bottom_8 {
    padding-bottom: 80px !important;
}

.padding-bottom_9 {
    padding-bottom: 90px !important;
}

.padding-bottom_10 {
    padding-bottom: 100px !important;
}

.padding-top_0 {
    padding-top: 0 !important;
}

.padding-top_1 {
    padding-top: 10px !important;
}

.padding-top_2 {
    padding-top: 20px !important;
}

.padding-top_3 {
    padding-top: 30px !important;
}

.padding-top_4 {
    padding-top: 40px !important;
}

.padding-top_5 {
    padding-top: 50px !important;
}

.padding-top_6 {
    padding-top: 60px !important;
}

.padding-top_7 {
    padding-top: 70px !important;
}

.padding-top_8 {
    padding-top: 80px !important;
}

.padding-top_9 {
    padding-top: 90px !important;
}

.padding-top_10 {
    padding-top: 100px !important;
}

.img-responsive {
    max-width: 100%;
}

.padding_right_0 {
    padding-right: 0 !important;
}

.padding_left_0 {
    padding-left: 0 !important;
}

.margin-top_0 {
    margin-top: 0 !important;
}

.margin-top_05 {
    margin-top: 5px !important;
}

.margin-top_1 {
    margin-top: 10px !important;
}

.margin-top_2 {
    margin-top: 20px !important;
}

.margin-top_3 {
    margin-top: 30px !important;
}

.margin-top_4 {
    margin-top: 40px !important;
}

.margin-top_5 {
    margin-top: 50px !important;
}

.margin-top_6 {
    margin-top: 60px !important;
}

.margin-top_7 {
    margin-top: 70px !important;
}

.margin-top_8 {
    margin-top: 80px !important;
}

.margin-top_9 {
    margin-top: 90px !important;
}

.margin-top_10 {
    margin-top: 100px !important;
}

.margin-bottom_0 {
    margin-bottom: 0px !important;
}

.margin-bottom_1 {
    margin-bottom: 10px !important;
}

.margin-bottom_2 {
    margin-bottom: 20px !important;
}

.margin-bottom_3 {
    margin-bottom: 30px !important;
}

.margin-bottom_4 {
    margin-bottom: 40px !important;
}

.margin-bottom_5 {
    margin-bottom: 50px !important;
}

.margin-bottom_6 {
    margin-bottom: 60px !important;
}

.margin-bottom_7 {
    margin-bottom: 70px !important;
}

.margin-bottom_8 {
    margin-bottom: 80px !important;
}

.margin-bottom_9 {
    margin-bottom: 90px !important;
}

.margin-bottom_10 {
    margin-bottom: 100px !important;
}

.margin_right_0 {
    margin-right: 0 !important;
}

.margin_left_0 {
    margin-left: 0 !important;
}

.light_grey {
    background: #f6f6f6 !important;
}

.color_black p,
.color_black ul,
.color_black ul li {
    color: #000;
}

.color_black {
    color: #000;
}

.margin_0 {
    margin: 0 !important;
}

.padding_0 {
    padding: 0 !important;
}

.white_bg_s {
    background: #fff;
    box-shadow: 0 0 50px -20px rgba(0, 0, 0, .1);
    min-height: auto;
    padding: 20px 50px 50px;
}

p {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 28px;
    color: #292929;
}

p.large {
    font-size: 18px;
}

p.large_2 {
    font-size: 20px;
}

p.large_3 {
    color: #999;
    font-weight: 300;
    line-height: 28px;
    font-size: 20px;
}

.f-15 p {
    font-size: 15px;
}

.white_bg input {
    background: #f3f3f3;
    box-shadow: none !important;
}

input,
select,
option,
textarea,
button,
.nice-select.book_select.niceSelect {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}

.text-align_left {
    text-align: left !important;
}

.text-align_center {
    text-align: center !important;
}

.text-align_right {
    text-align: right !important;
}

.text-align_justify {
    text-align: justify !important;
}

.border_radius_0 {
    border-radius: 0 !important;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.white_fonts p,
.white_fonts h1,
.white_fonts h2,
.white_fonts h3,
.white_fonts h4,
.white_fonts h5,
.white_fonts h6,
.white_fonts ul,
.white_fonts ul li,
.white_fonts ul li a,
.white_fonts ul i,
.white_fonts .post_info i,
.white_fonts div,
.white_fonts a.read_more,
.white_fonts span.small {
    color: #fff !important;
}

.white_fonts ul li a:hover,
.white_fonts ul li a:focus {
    color: #87b0c4 !important;
}

.light_silver_fonts p,
.light_silver_fonts h1,
.light_silver_fonts h2,
.light_silver_fonts h3,
.light_silver_fonts h4,
.light_silver_fonts h5,
.light_silver_fonts h6,
.light_silver_fonts ul,
.light_silver_fonts ul li,
.light_silver_fonts ul li a,
.light_silver_fonts ul i,
.light_silver_fonts .post_info i,
.light_silver_fonts div,
.light_silver_fonts a.read_more {
    color: #ccc !important;
}

.light_grey_color {
    color: #999;
}

.label_hn {
    position: absolute;
    left: -8px;
    top: calc(50% - 82px);
    background: #4e96b9;
    width: 50px;
    height: 165px;
    color: #fff;
    text-orientation: upright;
    writing-mode: vertical-rl;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 10px;
}

.full-half {
    width: 50%;
    float: left;
}


/** menu icon **/


/* Icon 1 */

#nav-icon {
    width: 40px;
    height: auto;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right;
    padding: 0;
    position: relative;
    height: 38px;
    border: none;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 22px;
    background: #fff;
    border-radius: 0;
    opacity: 1;
    border-radius: 50px;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* toggle style */

#nav-icon span:nth-child(1) {
    top: 11px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 17px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 23px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
    right: -6px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
    right: -6px;
}


/** icon **/

.iconsmind-Over-Time2::before {
    content: "\eb2e";
}

.iconsmind-Money-2::before {
    content: "\eac6";
}

.iconsmind-People-onCloud::before {
    content: "\eb52";
}

.iconsmind-Wallet-2::before {
    content: "\ede5";
}

.iconsmind-Shield::before {
    content: "\ec4f";
}

.iconsmind-Ribbon-2::before {
    content: "\ebf5";
}

.dark_gray {
    background-color: #111;
    min-height: 400px;
}

.list_style_1 {
    font-size: 14px;
    font-weight: 500;
    margin: 30px 0 30px;
}

.list_style_1 i {
    float: left;
    margin: 3px 16px 0 0;
}

.light_silver {
    background: #fcfcfc;
}

.opacity_50_color {
    opacity: 0.5;
}

.opacity_70_color {
    opacity: 0.7;
}

.large_container {
    max-width: 1450px;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.dark_grey_bg {
    background: #fff;
}

.white_bg {
    background: #fff;
}

.theme_color_bg {
    background: #00BFFF;
}

.theme_color {
    color: #00BFFF;
}

.full.banner_cont {
    position: relative;
    z-index: 1;
}

.heading_blog h4 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: normal;
    margin-bottom: 20px;
}

.small_read_more {
    margin-top: 30px;
}

.cont_blog {
    padding: 0 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.main_btn {
    width: 195px;
    height: 58px;
    background: #1e1e1e;
    color: #fff;
    float: left;
    text-align: center;
    line-height: 58px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: ease all 0.2s;
}

.full.main_btn {
    width: 100%;
    height: 48px;
    line-height: 48px;
}

.small_read_more .main_btn {
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.main_btn:hover,
.main_btn:focus {
    background: #00BFFF;
    color: #fff;
    box-shadow: 0 50px 22px -20px rgba(0, 0, 0, .2);
}

.lg-padding-right-0 {
    padding-right: 0 !important;
}

.lg-padding-left-0 {
    padding-left: 0 !important;
}

.lg-padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 -1px;
}

.btn-submit {
    background: #1e1e1e;
    float: left;
    border: none;
    color: #fff;
    width: 210px;
    height: 60px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    transition: ease all 0.5s;
    cursor: pointer;
    margin-top: 20px;
}

.btn-submit:hover,
.btn-submit:focus {
    background: #92b4c3;
}

p strong {
    font-weight: 700;
}

.version_5 header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    min-height: auto;
    padding: 25px 75px;
}


/*------------------------------------------------------------------
4. LOADER
-------------------------------------------------------------------*/

#preloader {
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-content: center;
}

#status {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    text-align: center;
}

#status img {
    width: 500px;
}


/*------------------------------------------------------------------
5. HEADER
-------------------------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    background: #fefefd;
    min-height: 110px;
    padding: 32px 75px 0;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .04);
    z-index: 999;
    top: 0;
}

.menu_section .navbar {
    padding: 0;
}

ul.navbar-nav li.nav-item.active {
    float: left;
    background: #00BFFF;
    margin: 0 15px;
}

ul.navbar-nav li.nav-item {
    float: left;
    margin: 0 15px;
}

ul.navbar-nav li.nav-item a.nav-link {
    font-size: 15px;
    letter-spacing: 0;
    color: #353434;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 15px 15px;
    display: flex;
}

ul.navbar-nav li.nav-item.active a.nav-link {
    color: #fff;
}

ul.navbar-nav li.nav-item a.nav-link::after {
    position: relative;
    top: 7px;
}


/** sub menu **/

ul.navbar-nav li.nav-item .dropdown-menu {
    margin: 15px 0 0 0;
    padding: 0;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0 25px -10px rgba(0, 0, 0, .25);
    min-width: 220px;
    border: solid #00BFFF 4px;
}

.dropdown-toggle::after {
    transition: ease all 0.5s;
}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

ul.navbar-nav li.nav-item .dropdown-menu::after {
    width: 0;
    height: 0;
    background: transparent;
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 18px;
    border-width: 0 15px 15px 15px;
    border-style: solid;
    border-color: transparent transparent #00BFFF transparent;
}

ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item {
    padding: 15px 15px;
    font-weight: 400;
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-bottom: solid #eee 1px;
}

ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item:hover,
ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item:focus {
    background: #00BFFF;
    color: #fff;
}

.login_section {
    float: right;
    position: relative;
    top: 0;
    right: 100px;
}

.login_section li {
    float: left;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 4px;
}

.login_section li a {
    padding: 9px 10px;
    letter-spacing: 0;
    color: #353434;
    margin: 0 15px;
    font-weight: 500;
    float: left;
}

.login_section li a:hover,
.login_section li a:focus {
    color: #92b5c4;
}

.login_section li:last-child a {
    margin-right: 0;
}


/** search bar **/

.search_container {
    position: relative;
}

.search_btn {
    position: absolute;
    height: 49px;
    width: 50px;
    background: #00BFFF;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 49px;
    text-align: center;
    cursor: pointer;
}

.search_open::after {
    content: "\f002";
    font-family: "fontawesome";
    font-size: 21px;
    font-weight: 300;
    color: white;
}

.search_close::after {
    content: "\f00d";
    font-family: "fontawesome";
    font-size: 21px;
    color: white;
    font-weight: 300;
}

.search {
    background: #333;
    height: 49px;
    width: 0;
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
    transition: all 0.6s;
}

.search_active {
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 70px;
}

.search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    color: white;
}

.search input::placeholder {
    color: #ecf0f1;
}

.search input:focus {
    border: 0;
    outline: 0;
    box-shadow: 0;
}

.search .go_btn {
    position: absolute;
    right: -60px;
    height: 30px;
    width: 60px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: #e74c3c;
    transition: all 0.5s;
    cursor: pointer;
}

.search_active_go_btn {
    right: 10px !important;
}


/** mega menu **/

.mega_menu {
    padding: 10px 0 !important;
    min-width: 590px !important;
}

.mega_menu ul {
    float: left;
    width: 46%;
    position: relative;
    padding: 0;
    margin: 0 2%;
}

.dropdown-menu li:last-child a {
    border-bottom: none !important;
}

.mega_menu ul:nth-child(1) {
    left: 0;
}

.mega_menu ul:nth-child(2) {
    right: 0;
}


/*------------------------------------------------------------------
6. BANNER
-------------------------------------------------------------------*/

#banner {
    background-image: url(../images/slide.jpg);
    min-height: 980px;
    background-size: 100%;
    padding: 110px 0 0;
    position: relative;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    overflow: hidden;
}

#banner::after {
    background: url(../images/layer_white.png);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -60px;
    left: 0;
    background-repeat: repeat-x;
    background-position: center bottom;
}

#banner::before {
    content: "";
    height: 100%;
    width: 235px;
    position: absolute;
    left: 0;
    top: 0;
    background: #faf8f9;
}

.banner_cont h4 {
    color: #fcf9f4;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 600;
    line-height: normal;
    margin-top: 180px;
}

.banner_cont h3 {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 80px;
    margin-top: 25px;
    text-indent: 0;
    position: relative;
    left: -5px;
}

.banner_cont a {
    margin-top: 35px;
}


/*------------------------------------------------------------------
7. BOOKING HOMEPAGE SECTION
-------------------------------------------------------------------*/

.book_form .field label {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0 0 5px 0;
    line-height: normal;
    position: relative;
    top: 0;
}

#book_form input {
    width: 100%;
    height: 46px;
    background: #fff;
    border: solid #eee 1px;
    padding: 0 15px;
    font-size: 14px;
    color: #555;
    line-height: normal;
    transition: ease all 5s;
}

#book_form input:focus {
    border: solid #4e97ba 1px;
}

.nice-select.book_select.niceSelect {
    width: 100%;
    height: 46px;
    background: #fff;
    border: solid #eee 1px;
    padding: 0 15px;
    font-size: 14px;
    color: #555;
    line-height: 45px;
    border-radius: 0;
}

.nice-select .list {
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 0 0 1px #eee;
}

.nice-select .option:hover,
.nice-select .option:focus {
    background-color: #00BFFF;
    color: #fff;
}

.nice-select .option.focus,
.nice-select .option.selected.focus {
    background: #1e1e1e;
    color: #fff;
}

#book_form .field {
    margin-top: 25px;
}


/** date picker **/

.daterangepicker {
    display: none;
    width: 610px;
    border-radius: 3px;
    padding: 0;
    margin-top: 27px;
    margin-left: -20px;
    box-shadow: none;
}

.daterangepicker {
    background-color: #333;
}

.daterangepicker {
    display: none;
    max-width: 610px;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 0;
    box-shadow: none;
    border: none;
}

.daterangepicker:before {
    display: none
}

.daterangepicker:after {
    top: -13px;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #00BFFF;
    border-left: 13px solid transparent
}

.daterangepicker.opensright:after {
    left: 84px
}

.daterangepicker .calendar {
    margin: 0;
    width: 100%;
    max-width: 305px;
    padding: 20px;
}

.daterangepicker .calendar th {
    font-size: 15px;
    color: #fff;
    cursor: default;
    font-weight: 600;
}

.daterangepicker .calendar th.month {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.daterangepicker .calendar th.next,
.daterangepicker .calendar th.prev {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 4px 0;
}

.daterangepicker .calendar.left {
    border-right: none;
    background: #00BFFF;
    box-shadow: 0 15px 50px -30px #000;
}

.daterangepicker .calendar.right {
    float: right;
    background: #333;
}

.calendar.left .calendar-table {
    background: #00BFFF;
    border: none;
}

.calendar.right .calendar-table {
    background: #333;
    border: none;
}

.daterangepicker td {
    color: #fff;
}

.daterangepicker .calendar-table {
    padding: 0
}

.daterangepicker .calendar-table .table-condensed thead tr:nth-child(2) th {
    padding-top: 17px;
    padding-bottom: 15px;
}

.daterangepicker.ltr .calendar.left .calendar-table {
    padding: 0
}

.daterangepicker_input {
    display: none
}

.daterangepicker td {
    height: 26px;
    width: 26px;
    min-width: 26px;
    min-width: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #eee;
}

.daterangepicker td.off,
.daterangepicker td.off:hover,
.daterangepicker td.off:focus {
    opacity: 0.3;
    background: transparent;
    color: #fff;
    cursor: default;
}

.daterangepicker td.start-date,
.daterangepicker td.end-date {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #00BFFF;
}

.daterangepicker td.start-date.end-date {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.daterangepicker td.in-range {
    background: #fff;
    color: #00BFFF;
}

.daterangepicker td.in-range.end-date {
    color: #fff
}

.daterangepicker td.today {
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
    background: #fff;
    color: #00BFFF
}

.daterangepicker td.today.in-range {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
    background: #fff;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
    background: 0 0
}

.daterangepicker select {
    outline: none;
    font-family: inherit
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    font-size: 16px;
    padding: 8px 4px
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background: #fff;
    color: #00BFFF;
}

.daterangepicker td.active.today,
.daterangepicker td.active:hover.today {
    background: #fff;
    color: #00BFFF;
    font-weight: 500;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.daterangepicker .calendar.left {
    clear: none !important;
}

#book_room_section {
    padding: 50px 0 0;
}

.icon-con {
    position: absolute;
    width: 23px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
    overflow: hidden;
    background: #f2f2f2;
    right: 1px;
    top: 23px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.minus,
.plus {
    display: inline-block;
    width: 23px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 15px;
    color: #b2b2b2;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    float: left;
}

.quantity {
    font-size: 18px;
    color: #333;
}

.minus:hover,
.plus:hover {
    background: #00BFFF;
    color: #fff;
}

.input-group-icon.js-number-input {
    position: relative;
}


/** side social icon **/

.sidebar_icons {
    position: absolute;
    width: 235px;
    padding-top: 110px;
    top: 0;
    height: 100%;
    z-index: 1;
    transition: ease all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_icons ul.social_icon {
    float: none;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -55px;
}

.sidebar_icons ul.social_icon li {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    margin: 10px 0;
}

.sidebar_icons ul.social_icon li a {
    color: #575757;
}

.sidebar_icons ul.social_icon li a:hover,
.sidebar_icons ul.social_icon li a:focus {
    color: #00BFFF;
}

#book_form {
    margin-top: 20px;
}

.large_container.white_bg {
    box-shadow: 0 0 50px -20px rgba(0, 0, 0, .15);
}


/** heading text animation **/

:root {
    --animation-delay: 0;
    --duration: 1200ms;
    --iterations: 1;
}

h2.reveal {
    border-left: solid #00BFFF 15px;
    padding-left: 10px;
    line-height: 45px;
    float: left;
    padding-right: 10px;
}

h4.reveal {
    border-left: solid #00BFFF 15px;
    padding-left: 10px;
    line-height: 30px;
    float: left;
    font-size: 30px;
    padding-right: 10px;
}

.white_reveal_ h2.reveal {
    border-left: solid #fff 15px;
}

.white_reveal_ h4.reveal {
    border-left: solid #fff 15px;
}

.reveal.animated,
.reveal.animated::after {
    animation-delay: 0;
    animation-delay: var(--animation-delay, 1s);
    animation-iteration-count: 1;
    animation-iteration-count: var(--iterations, 1);
    animation-duration: 1200ms;
    animation-duration: var(--duration, 1200ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal.animated {
    position: relative;
    animation-name: text;
    white-space: nowrap;
    cursor: default;
    text-transform: uppercase;
    float: left;
}

.reveal.animated::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00BFFF;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer;
}

.theme_color_bg .reveal.animated::after {
    background-color: #fff;
}

.white_reveal_ .reveal.animated::after {
    background-color: #fff;
}

@keyframes text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes revealer {
    0%,
    50% {
        transform-origin: 0 50%;
    }
    60%,
    100% {
        transform-origin: 100% 50%;
    }
    60% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}


/*------------------------------------------------------------------
8. NEWSLETTER SECTION
-------------------------------------------------------------------*/

.newsletter_form input {
    width: 100%;
    height: 70px;
    border: none;
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, .1);
    padding: 0 350px 0 30px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 500;
    color: #111;
    margin-right: 0;
    line-height: 70px;
    font-size: 17px;
}

.newsletter_form button {
    width: 100%;
    border: none;
    background: #86b0c3;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.2px;
    transition: ease all 0.5s;
    float: left;
    max-width: 320px;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
    height: 70px;
    cursor: pointer;
}

.newsletter_form button:hover,
.newsletter_form button:focus {
    background: #111;
}

.newsletter_form fieldset {
    display: inline-table;
    width: 100%;
    float: left;
    position: relative;
}

.carousel-inner img {
    width: auto;
    height: auto;
}


/*------------------------------------------------------------------
9. TESTIMINIAL SECTION 
-------------------------------------------------------------------*/

.testimonial_blog_top {
    min-height: 200px;
    background: #87b0c4;
}

.profile_testimonial img {
    width: 205px;
    border-radius: 205px;
    border: solid #292a2c 9px;
    margin-top: -110px;
    box-shadow: 0px 0 0 10px #fff;
    position: relative;
    left: 10px;
    float: left;
}

.testimonial_blog_bottom {
    padding: 0 45px;
}

.profile_testimonial {
    float: left;
    width: 100%;
}

.profile_testimonial h5 {
    color: #2a2a2a;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    float: left;
    line-height: normal;
    padding-top: 15px;
    width: 100%;
}

.profile_testimonial p {
    float: left;
    color: #86b0c3;
    font-size: 15px;
    width: 100%;
    line-height: normal;
}

.name_info {
    float: left;
    padding-left: 40px;
}

.text_testimonial p {
    font-weight: 400;
    padding-top: 30px;
    text-align: justify;
    letter-spacing: 0px;
}

.arrow_icon a.carousel-control-prev,
.arrow_icon a.carousel-control-next {
    position: relative;
    float: left;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: #fff;
    opacity: 1;
    margin: 0 3px;
    font-size: 16px;
    line-height: 52px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    text-align: center;
    transition: ease all 0.5s;
}

.arrow_icon a.carousel-control-prev i,
.arrow_icon a.carousel-control-next i {
    color: #222;
    transition: ease all 0.5s;
}

.arrow_icon a.carousel-control-prev:hover i,
.arrow_icon a.carousel-control-next:hover i,
.arrow_icon a.carousel-control-prev:focus i,
.arrow_icon a.carousel-control-next:focus i {
    color: #87b0c4;
}

.arrow_icon {
    position: absolute;
    right: 35px;
    z-index: 99;
    top: 175px;
}

.testimonial_slider {
    background: #fff;
    box-shadow: 0 0 30px -20px #666;
    padding-bottom: 50px;
    border: solid #fff 10px;
}


/*------------------------------------------------------------------
10. FOOTER 
-------------------------------------------------------------------*/

footer .footer_widget h4 {
    text-transform: none !important;
    font-weight: 600 !important;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.main_footer {
    min-height: auto;
    background: #212121;
    padding: 40px 0 90px;
}

.footer_widget {
    margin-top: 50px;
}

.footer_widget h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.footer_widget li {
    line-height: 30px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    width: 50%;
}

.footer_widget li a {
    color: #fff;
    font-weight: 300;
    transition: ease all 0.5s;
}

.footer_widget li a:hover,
.footer_widget li a:focus {
    color: #87b0c4;
}

.contact_information {
    float: left;
    width: 100%;
}

.contact_information li {
    float: left;
    width: 100%;
    margin: 0 0 25px 0;
    position: relative;
}

.contact_information li svg {
    position: absolute;
    left: 0px;
}

.contact_information li span {
    padding-left: 50px;
    float: left;
    line-height: 30px;
}

.social_icon_footer ul.social_icon {
    float: left;
    width: auto;
}

.social_icon_footer ul.social_icon li {
    float: left;
    width: auto;
}

.social_icon_footer ul.social_icon li a {
    width: 45px;
    height: 45px;
    border: solid #a9a9a9 1px;
    float: left;
    text-align: center;
    line-height: 45px;
    margin-right: 10px;
    font-size: 20px;
    transition: ease all 0.5s;
}

.social_icon_footer ul.social_icon li a i {
    color: #a9a9a9 !important;
    transition: ease all 0.5s;
}

.social_icon_footer ul.social_icon li a:hover,
.social_icon_footer ul.social_icon li a:focus {
    border: solid #87b0c4 1px;
    background: #87b0c4;
}

.social_icon_footer ul.social_icon li a:hover i,
.social_icon_footer ul.social_icon li a:focus i {
    color: #fff !important;
}


/*------------------------------------------------------------------
11. COPYRIGHT SECTION
-------------------------------------------------------------------*/

.cpy {
    background: #87b0c4;
    text-align: center;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cpy p {
    color: #fff;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
}

.cpy p a {
    color: #fff;
}


/*------------------------------------------------------------------
12. INNER PAGE
-------------------------------------------------------------------*/


/** inner page banner **/

#inner_banner {
    min-height: 320px;
    background: #00BFFF;
    margin-top: 0;
    padding-top: 110px;
    text-align: center;
}

#inner_banner h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #fff;
    margin-top: 60px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, .3);
    margin-bottom: 5px;
    letter-spacing: 2px;
}


/** breadcrumb **/

.breadcrumb {
    background: transparent;
    width: 100%;
    justify-content: center;
}

.breadcrumb ul {
    float: left;
    margin: 0;
}

.breadcrumb ul li {
    float: left;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.s-icon+h3 {
    font-size: 17px;
    color: #00BFFF;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.s-icon img {
    width: 50px;
}

.s-icon svg {
    height: 55px;
}

.minus_bottom_blog {
    margin-bottom: -90px;
}


/** rating star **/

.starrating>input {
    display: none;
}


/* Remove radio buttons */

.starrating>label::before {
    content: "\f005";
    margin: 2px;
    font-size: 3em;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating>label {
    color: #dfdfdf;
    margin: 0 4px;
    font-size: 10px;
}

.starrating>input:checked~label {
    color: #f6c237;
    transform: scale(1.2);
}


/* Set yellow color when star checked */

.starrating>input:hover~label {
    color: #f6c237;
    transform: scale(1.2);
}


/* Set yellow color when star hover */


/*------------------------------------------------------------------
13. ROOM PAGE
-------------------------------------------------------------------*/

.room_info {
    background: #00BFFF;
}

.room_info .starrating>label {
    color: #fff;
    margin: 0 1px;
    font-size: 6px;
}

.room_info .starrating>input:hover~label {
    color: #222;
}

.room_info {
    background: #00BFFF;
    padding: 10px 20px;
    min-height: 38px;
}

.room_info .rating_star {
    margin-top: 3px;
}


/** room page slider **/

.slide_arrow>a {
    width: 70px;
    height: 70px;
    background: #222;
    opacity: 1;
    top: calc(50% - 35px);
}

.slide_arrow>a:hover,
.slide_arrow>a:focus {
    background: #00BFFF;
}

.slide_arrow .carousel-control-prev {
    left: -120px;
}

.slide_arrow .carousel-control-next {
    right: -120px;
}

#slider1 h3 {
    color: #818181;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 25px;
}


/*------------------------------------------------------------------
14. ROOM DETAIL PAGE
-------------------------------------------------------------------*/

.field_checking label {
    font-size: 15px;
    color: #00BFFF;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
}

.field_checking input {
    width: 100%;
    height: 46px;
    background: #fff;
    border: solid #eee 1px;
    padding: 0 15px;
    font-size: 14px;
    color: #555;
    line-height: normal;
}

.field_checking::after {
    display: block;
    content: "\f073";
    font-family: fontawesome;
    color: #ccc;
    position: absolute;
    right: 25px;
    bottom: 15px;
}

.hide_after::after {
    display: none;
}

.field_checking input {
    border-color: #ccc;
}

.field_checking .nice-select.book_select.niceSelect {
    border-color: #ccc;
}

.single_room_page .main_btn {
    padding: 2px 10px;
    height: auto;
}

.single_room_page p.large_2 {
    font-size: 24px;
    line-height: 45px;
    padding: 0;
    font-weight: 400;
}


/** checkbox **/

.checkbox_list ul li {
    border: solid #c3c3c3 1px;
}

.checkbox_list ul li {
    border: solid #c3c3c3 1px;
    padding: 20px 30px;
    display: flex;
    margin-bottom: -1px;
}

.checkbox_list ul li span {
    float: left;
}

.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    padding-right: 250px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.chiller_cb input {
    display: none;
}

.chiller_cb input:checked~span {
    background: #86b0c3;
    border-color: #86b0c3;
}

.chiller_cb input:checked~span::before {
    width: 22px;
    height: 3px;
    transition: width 0.1s;
    transition-delay: 0s;
    transition-delay: 0s;
    transition-delay: 0.3s;
}

.chiller_cb input:checked~span:after {
    width: 9px;
    height: 3px;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb input:disabled~span {
    background: #ececec;
    border-color: #dcdcdc;
}

.chiller_cb input:disabled~label {
    color: #dcdcdc;
}

.chiller_cb input:disabled~label:hover {
    cursor: default;
}

.chiller_cb label {
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
    color: #999;
    line-height: normal;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
}

.chiller_cb span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}

.chiller_cb span::before {
    transform: rotate(-55deg);
    top: 23px;
    left: 10px;
}

.chiller_cb span::after {
    transform: rotate(35deg);
    bottom: 10px;
    left: 7px;
}

.price_tag p {
    display: flex;
}

.price_tag p>span:nth-child(1) {
    line-height: 55px;
    text-decoration: line-through;
    font-weight: 400;
    color: #c3c3c3;
    font-size: 20px;
    margin-right: 10px;
    text-transform: uppercase;
}

.price_tag p>span:nth-child(2) strong {
    float: left;
    width: 100%;
    color: #00BFFF;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.price_tag p>span:nth-child(2) {
    text-align: center;
    font-size: 15px;
    color: #c3c3c3;
    text-transform: uppercase;
    font-weight: 400;
}

.checkbox_list {
    margin-top: 30px;
}


/*------------------------------------------------------------------
15. BOOKING PAGE
-------------------------------------------------------------------*/

.tabbar_booking ul.nav li.nav-item .nav-link {
    background: #363636;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    min-width: 135px;
    text-align: center;
    font-size: 14px;
}

.tabbar_booking ul.nav li.nav-item .nav-link.active {
    background: #4e97ba;
}

.tabbar_booking .nav-tabs {
    border-bottom: none;
}

.tabbar_booking .tab-content {}

.tabbar_booking .tab-content h4 {
    font-size: 18px;
    font-weight: 300;
    color: #444;
    text-transform: none;
    margin-top: 30px;
}

.tabbar_booking .tab-content h4 strong {
    text-transform: uppercase;
    font-weight: 700;
}


/** booking form **/

form.booking_form .field input {
    width: 100%;
    height: 46px;
    background: #fff;
    border: solid #c9c9c9 1px;
    padding: 0 15px;
    font-size: 14px;
    color: #555;
    line-height: normal;
    transition: ease all 0.5s;
    margin-bottom: 20px;
}

form.booking_form .field input:focus {
    border: solid #4e97ba 1px;
}

.booking_form label {
    font-size: 15px;
    margin: 0;
    color: #999;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 300;
    text-transform: capitalize;
}

.booking_form label.hightlight {
    color: #4e97ba !important;
    font-size: 14px;
    letter-spacing: 0.2s;
}

form.booking_form textarea {
    width: 100%;
    min-height: 150px;
    background: #fff;
    border: solid #c9c9c9 1px;
    padding: 15px;
    font-size: 14px;
    color: #555;
    line-height: normal;
    transition: ease all 0.5s;
    margin-bottom: 5px;
}

form.booking_form textarea:focus {
    border-color: #4e97ba;
}

.booking_form button {
    width: 100%;
    background: #4e97ba;
    border: none;
    color: #fff;
    min-height: 52px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    transition: ease all 0.5s;
    cursor: pointer;
}

.booking_form button:hover,
.booking_form button:focus {
    background: #00BFFF;
}

p svg {
    position: relative;
    top: 6px;
    width: 25px;
}

.payment_form input {
    width: 100%;
    min-height: 58px;
    border: solid #c0c0c0 1px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0;
    margin-top: 40px;
    padding: 0 20px;
    background: #fff;
}

.payment_form button {
    background: #4e97ba;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
    width: 200px;
    height: 60px;
    border-radius: 2px;
    cursor: pointer;
    transition: ease all 0.5s;
}

.payment_form button:hover,
.payment_form button:focus {
    background: #222;
    color: #fff;
}

.card_payment li {
    float: left;
    margin: 0 5px;
}


/*------------------------------------------------------------------
16. CONFIRM PAGE
-------------------------------------------------------------------*/

.confirm {
    border: solid 5px #222;
    margin-top: 50px;
}

.confirm ul {
    float: left;
    width: 33.33%;
    text-align: center;
}

.confirm ul:nth-child(2) {
    border-left: solid 5px #222;
    border-right: solid 5px #222;
}

.confirm ul li:nth-child(1) {
    border-bottom: solid 5px #222;
    min-height: 125px;
    padding: 26px 0;
    background: #86b0c3;
}

.confirm ul:nth-child(3) li:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm ul li h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.confirm ul li p {
    font-weight: 400;
}

.confirm ul li:nth-child(2) span.span4 {
    width: 33.33%;
    float: left;
    text-align: center;
}

.confirm ul li:nth-child(2) span.span12 {
    width: 100%;
    float: left;
    text-align: center;
}

.confirm ul li:nth-child(2) span.span4 .head_confirm {
    float: left;
    width: 100%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
}

.confirm ul li:nth-child(2) {
    min-height: auto;
    padding: 22px 0 18px;
    background: transparent;
    float: left;
    width: 100%;
}

.price_confirm {
    font-size: 20px;
    font-weight: 500;
    color: #4d96b9;
}

.price_confirm_tl {
    font-size: 20px;
    font-weight: 500;
    color: #4d96b9;
}

.price_confirm_tl {
    font-size: 20px;
    font-weight: 500;
    color: #4d96b9;
    line-height: 25px;
    float: left;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}


/*------------------------------------------------------------------
17. LOGIN AND SIGNUP PAGE
-------------------------------------------------------------------*/

.bg_login_signup {
    background-image: url(../images/login.png);
    height: 100vh;
    background-size: 50% auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #fff;
}

.login_page .cpy {
    text-align: center;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.login_page,
.signup_page {
    background: #fff;
}

.login_signup label {
    color: #87b0c4;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    width: 100%;
    margin: 0 0 5px 0;
}

.login_signup input {
    width: calc(100% - 50px);
    border: solid #87b0c4 1px;
    height: 60px;
    margin-bottom: 0;
    padding: 10px 20px;
    color: #555;
}

.btn-submit+p.login {
    float: right;
    padding-right: 50px;
    line-height: 60px;
    font-weight: 400;
    font-size: 16px;
}

.btn-submit+p.login a {
    text-decoration: underline !important;
}

.btn-submit+p.login a:hover,
.btn-submit+p.login a:focus {
    color: #87b0c4;
}

.contact_info p {
    line-height: 24px;
}

.contact_info .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    justify-content: center;
    float: none;
    box-shadow: 7px 7px 0 0 #eee;
}

.choose_room .main_btn {
    width: 170px;
}


/*------------------------------------------------------------------
18. MAP
-------------------------------------------------------------------*/

#map {
    height: 100%;
    min-height: 480px;
    margin: 0 -15px;
}

.contact_info.active div.icon {
    background: #00BFFF;
}

.contact_form input {
    width: 100%;
    border: none;
    background: #f3f3f3;
    color: #000;
    padding: 24px 25px;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 0;
}

.contact_form textarea {
    width: 100%;
    border: none;
    background: #f3f3f3;
    color: #000;
    padding: 24px 25px;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 0;
    min-height: 180px;
}


/*------------------------------------------------------------------
19. HOME PAGE 2
-------------------------------------------------------------------*/

.home_2 #banner::before {
    background: transparent;
}

.home_2 #banner::after {
    background: rgba(9, 24, 41, .95);
    bottom: 0;
}

.home_2 #banner {
    min-height: 1080px;
    margin-bottom: -597px;
}

.home_2 #book_room_section {
    position: relative;
}

.home_2 .banner_cont h4 {
    margin-top: 60px;
}

.home_2 .sidebar_icons ul.social_icon li a {
    color: #fff;
}


/*------------------------------------------------------------------
20. HOME PAGE 3
-------------------------------------------------------------------*/

.home_3 .header_bottom .menu_section {
    background: #fcc626;
    min-height: 90px;
    margin-top: 35px;
    margin-bottom: -90px;
    display: flex;
    justify-content: center;
}

.home_3 .header_top .login_section {
    top: 0;
    right: 0;
}

.home_3 .header_bottom .menu_section .navbar {
    padding: 0;
    float: left;
}

.home_3 .header_bottom ul.navbar-nav li.nav-item a.nav-link {
    font-size: 17px;
    padding: 15px 25px;
}

.home_3 .header_bottom .search {
    position: relative;
}

.home_3 .header_bottom .menu_section .search_container {
    position: relative;
    right: -70px;
}

.home_3 .header_bottom .search_open::after,
.header_bottom .search_close::after {
    color: #353434;
}

.home_3 .header_bottom .menu_section #navbarSupportedContent {
    position: relative;
    left: -50px;
}

.home_3 #banner::before {
    background: transparent;
}

.home_3 #banner::after {
    bottom: 0;
}

.home_3 #banner {
    min-height: 1080px;
    margin-bottom: -110px;
    background-image: url(../images/slide_h3.png);
}

.home_3 #book_room_section {
    position: relative;
}

.home_3 .banner_cont h4 {
    margin-top: 60px;
}

.home_3 .sidebar_icons ul.social_icon li a {
    color: #222;
}

.home_3 .header_info {
    float: left;
    padding: 10px 0;
    width: 100%;
}

.home_3 .header_info ul {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home_3 .header_info ul li {
    display: flex;
    margin: 0 40px;
    float: left;
}

.home_3 .header_info ul li span {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    line-height: 25px;
    margin-left: 10px;
}

.home_3 .header_info ul li svg {
    float: left;
}

.home_3 .header_info ul li a {
    display: flex;
}


/*------------------------------------------------------------------
21. ACCRODIAN
-------------------------------------------------------------------*/

.myaccordion {
    max-width: 100%;
    margin: 0;
    box-shadow: none;
}

.myaccordion .card {
    border: none;
}

.myaccordion .card:last-child .card-header {
    border-bottom-color: #1f1f1f;
    border-bottom-width: 2px !important;
    border-bottom-style: solid;
}

.myaccordion .card-header {
    border-top-color: #1f1f1f;
    background: transparent;
    border-top-width: 2px !important;
    padding: 15px 0;
    border-bottom: 0;
    border-top-style: solid;
    border-radius: 0;
}

.myaccordion .card-header+div {
    border-top: solid #ddd 1px;
}

.myaccordion .card:last-child .card-header+div {
    border-bottom: solid #1f1f1f 2px !important;
    border-top: none !important;
}

.myaccordion .fa-stack {
    font-size: 12px;
}

.myaccordion .btn {
    width: 100%;
    font-weight: 700;
    color: #1f1f1f;
    padding: 0;
    font-size: 18px;
    border: none;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.myaccordion li+li {
    margin-top: 10px;
}

.non-upparecase {
    text-transform: none !important;
}

.myaccordion .card-body {
    padding: 30px 0px 40px;
}


/*------------------------------------------------------------------
22. PACKAGE
-------------------------------------------------------------------*/


/** package **/

.package_service_info li span {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: normal;
    color: #333;
    float: left;
    width: 100%;
    padding: 10px 0 10px;
    justify-content: center;
    display: flex;
}

.package_service_info li span svg {
    position: relative;
    top: 0;
    margin-right: 10px;
}

.package_service_info li {
    float: left;
    width: 33.33%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    min-height: 85px;
}

.package_service_info li.price_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    text-align: center;
    color: #333;
}

.package_service_info {
    float: left;
    width: 100%;
}

#package_section .main_btn {
    width: 46%;
}

.blog_service {
    margin-top: 50px;
}

.blog_service svg {
    width: auto;
    height: 90px;
    line-height: normal;
    margin-bottom: 30px;
    margin-top: 10px;
}

.full_detail .package_service_info li.price_tag {
    display: flex;
    justify-content: right;
    align-items: center;
    background: transparent;
    text-align: center;
    color: #222;
    line-height: 30px;
    min-height: 30px;
    float: right;
    font-size: 30px;
    font-weight: 700;
}

.full_detail .package_service_info li {
    width: 50%;
    line-height: normal;
    min-height: auto;
}

.full_detail .package_service_info li span {
    width: 50%;
}

.full_detail {
    background: #fff;
    padding: 20px 50px 50px;
    position: relative;
    margin-top: -150px;
    border: solid #4e96b9 15px;
}

.package_detail_page .label_hn {
    position: absolute;
    left: calc(50% - 70px);
    top: -25px;
    background: #4e96b9;
    width: 165px;
    height: 50px;
    color: #fff;
    text-orientation: inherit;
    writing-mode: horizontal-tb;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 10px;
}


/*------------------------------------------------------------------
23. TEAM PAGE
-------------------------------------------------------------------*/

.team_part {
    background: #fff;
    box-shadow: 0 0 3px -5px #000;
    margin-bottom: 50px;
    border-bottom: solid #86b0c3 5px;
    position: relative;
    transition: ease all .5s;
}

.team_part:hover div.member_follow,
.team_part:focus div.member_follow {
    height: 44px;
    opacity: 1;
    margin-top: 15px;
}

.team_cont {
    position: relative;
    margin-bottom: 25px;
}

.member_name {
    font-size: 18px;
    margin: 25px 0 0;
    text-transform: uppercase;
    font-weight: 700;
}

.member_info {
    text-align: left;
    margin-top: 0;
    color: #666;
    font-weight: 300;
    font-size: 15px;
}

.member_follow {
    position: absolute;
    width: 100%;
    background: #86b0c3;
    height: 0;
    opacity: 0;
    transition: ease all 0.5s;
}

.social_icon {
    float: left;
    width: 100%;
}

.social_icon {
    float: left;
    margin: 0;
    padding: 7px 0;
}

.social_icon ul {
    list-style: none;
    float: left;
}

.social_icon ul li {
    display: inline;
    font-size: 20px;
    margin: 0 8px;
    float: left;
}

.social_icon li a {
    color: #fff;
}

.fa-minus:before {
    top: 1px;
}

.fa-plus:before {
    top: 1px;
}

.section .search {
    background: #ebebeb;
    width: 100%;
    position: relative;
}

.section .search input {
    color: #111;
    padding: 0 70px 0 20px;
}


/*------------------------------------------------------------------
24. BLOG
-------------------------------------------------------------------*/

.blog_cont {
    background: #fff;
    padding: 50px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .05);
}

.blog_img {
    position: relative;
}

.blog_cont {
    background: #fff;
    padding: 20px 90px 70px 90px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .05);
}

.blog_social {
    margin-top: -60px;
    position: relative;
    margin-bottom: 10px;
}

.label_blog_date {
    position: absolute;
    width: 90px;
    height: 80px;
    background: #00BFFF;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
    line-height: 18px;
}

.label_blog_date {
    position: absolute;
    width: 90px;
    height: 80px;
    background: #00BFFF;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
    line-height: 20px;
    left: calc(50% - 45px);
    font-size: 17px;
}

.blog_social li {
    float: left;
    margin: 0 5px;
}

.blog_social li a {
    background: #00BFFF;
    color: #fff;
    width: 80px;
    height: 80px;
    float: left;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border: solid #fff 5px;
    font-size: 28px;
}

.post_name {
    color: #7d7d7c;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    margin-top: 25px;
}

.blog_cont h3 {
    font-weight: 700;
    letter-spacing: -1px;
    color: #222;
    margin-top: 15px;
    margin-bottom: 30px;
}

.blog_cont p {
    font-weight: 400;
}


/*------------------------------------------------------------------
25. PAGINATION
-------------------------------------------------------------------*/

ul.pagination li {
    width: 50px;
    height: 50px;
    background: #c8c9c9;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    color: #fff;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

ul.pagination li:last-child {
    min-width: 100px;
}

ul.pagination li a {
    color: #fff;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

ul.pagination li.active {
    background: #00BFFF;
}

ul.pagination li a:hover,
ul.pagination li a:focus {
    background: #222;
    color: #fff;
}


/*------------------------------------------------------------------
26. SIDEBAR
-------------------------------------------------------------------*/

.sidebar_section h4.reveal {
    border-left: solid #00BFFF 10px;
    line-height: 24px;
    font-size: 24px;
    padding-right: 10px;
}

.sidebar_section .full {
    background: #fff;
    padding: 30px 30px;
    box-shadow: 0 10px 30px -30px #000;
}

.sidebar_section p {
    font-size: 16px;
    line-height: 28px;
    padding: 7px 0 0;
}

.blog_detail_page .blog_cont {
    padding: 20px 40px 70px 40px;
}

.comment_ h3 {
    font-size: 24px;
    color: #00BFFF;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.comment_ p {
    line-height: 24px;
    margin-top: 10px;
}

.comment_ h6 a {
    color: #00BFFF;
    font-size: 16px;
    margin-top: 60px;
    float: right;
}

.comment_form input {
    width: 100%;
    min-height: 65px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #333 2px;
    background: transparent;
    font-size: 17px;
    color: #222;
    margin-top: 50px;
    margin-bottom: 30px;
}


/*------------------------------------------------------------------
27. GALLARY
-------------------------------------------------------------------*/

.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 25px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.portfolio-menu ul li.active {
    background: #00BFFF !important;
    border-color: #00BFFF !important;
}

.portfolio-item {
    /*width:100%;*/
}

.portfolio-item .item {
    float: left;
    margin-bottom: 30px;
}


/*------------------------------------------------------------------
28. PRICE PAGE
-------------------------------------------------------------------*/

.price_blog {
    background: #fff;
    padding: 40px 40px;
    box-shadow: 0 0 50px -20px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
}

.doller_sign {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -10px;
}

h3.heading {
    font-size: 45PX;
    font-weight: 700;
}

.heading .day_small {
    font-size: 20px;
    color: #9a9a99;
    font-weight: 400;
}

.price_blog p {
    line-height: normal;
    padding: 9px 0 0;
}

.price_blog h4 {
    font-size: 25px;
    line-height: 62px;
    font-weight: 800 !important;
    border: none;
    padding: 0;
    min-width: 180px;
}

.heading .day_small {
    font-size: 18px;
    color: #9a9a99;
    font-weight: 400;
    padding-left: 2px;
}